<?xml version="1.0"?>
<launch>
    <!-- numbers come from rs_calibration.yaml, (not sure how to automate)-->
    <node pkg="tf" type="static_transform_publisher" name="camera_transformer" args=" .05 .02 .08 .0 -.707 0 .707   link_eef camera_link 100" />
    
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="enable_pointcloud" value="true"/>
        <!-- <arg name="clip_distance" value="1"/> -->
    </include>
    <node pkg="nodelet" type="nodelet" name="pcl_manager" args="manager" output="screen" />
    <!-- Run a VoxelGrid filter to clean NaNs and downsample the data -->
    <!-- This is for the octomap for collisions-->
    <node pkg="nodelet" type="nodelet" name="voxel_grid" args="load pcl/VoxelGrid pcl_manager" output="screen">
        <remap from="~input" to="/camera/depth/color/points" />
        <rosparam>
        filter_field_name: z
        filter_limit_min: -1000
        filter_limit_max: 1000
        filter_limit_negative: False
        leaf_size: .01
        </rosparam>
    </node>
</launch>
