<?xml version="1.0"?>
<launch>
  <!-- Load panda demo with MTC's execution capability -->
  <include file="$(find xarm7_gripper_moveit_config)/launch/demo.launch">
  #</include>
  <param name="move_group/capabilities" value="move_group/ExecuteTaskSolutionCapability" />



   <node name="$(anon rviz)" pkg="rviz" type="rviz" respawn="false"
	args="-d $(find permobil_arm)/config/mtc_xarm.rviz" output="screen">
    <rosparam command="load" file="$(find xarm7_gripper_moveit_config)/config/kinematics.yaml"/>
   </node>

</launch>
